includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8

    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - src

    excludePaths:
        analyse:
            - bootstrap/cache
            - storage
            - vendor
            - app/Acesso/Tests/*
            - src/*/Tests/*

    tmpDir: storage/phpstan

    checkUninitializedProperties: true

    bootstrapFiles:
        - bootstrap/app.php
